<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potwierdzenie</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: aqua;
        }

    </style>
</head>
<body>
    <div class="conf">
        <h2>Dziękujemy!</h2>
        <p>Twoja odpowiedź została wysłana.</p>
        <a href="/">Powrót do formularza</a>
    </div>
</body>
</html>
